footer{
    background-color: yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    /*margin-right: 10px;*/
    justify-content: space-between;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}