$yellow: #187920;

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

footer{
    background-color: $yellow;
    padding: 10px 10px 0 10px;
    @include margenes(10px,0px);
    
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px,0px);
}

.card-hotel{
    flex: 1 200px;
    justify-content: space-between;
    @include margenes(10px,0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}