@yellow:#fffa19;

.margenes(@top: 0px, @botton: 0px) {
    margin-top: @top;
    margin-bottom: @botton;
}

footer{
    background-color: @yellow;
    padding: 10px 10px 0 10px;
    .margenes(10px,0px);
}

.jumbotron{
    background-color: @yellow;
    color: black;
    .margenes(50px,0px);
}

.card-hotel{
    flex: 1 200px;
    /*margin-right: 10px;*/
    justify-content: space-between;
    .margenes(10px,0px);
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  